h5{
    font-family: 'Tourney', cursive;
}
p , h4 ,.button {
        font-family: 'Work Sans', sans-serif;}
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background-color:white;
  margin: 0;
}
p{
    color: rgb(88, 87, 88);
}

h5 {
  margin: 40px auto;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #f1f508;
  letter-spacing: 5px;
  text-shadow: 10px 10px 25px rgb(240, 47, 12),
    -10px 10px 25px rgb(50, 129, 56),
    -10px -10px 25px rgb(207, 28, 15),
    10px -10px 25px rgb(29, 29, 201);
}
h4 {
    color: rgb(61, 59, 53);
}
.flexible-area{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 5%;

}
.half-width img{
    width: 80%;
}
.button{
    
    text-decoration: none;
    color: rgb(243, 250, 243);
    background: linear-gradient(to top right, #c5c21c 0%, #383834 100%);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: no-drop;
    text-shadow: 2px 2px #3f3f3f;
    
}


.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat ;

    
    
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
h4{
    color: rgb(218, 97, 84);
}
.box1{
    box-shadow: 7px 7px 30px gray;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    padding-left: 20px;
    border-image: linear-gradient(#9e9eaa, #1725c0);
    border-left: 5px solid;
    border-image-slice: 1;
    border-radius: 5px;

    

}
.box2{
    box-shadow: 7px 7px 30px gray;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    padding-left: 20px;
    border-image: linear-gradient(#c94a18, #dfc21e);
    border-left: 5px solid;
    border-image-slice: 1;
    border-radius: 5px;
}
.experience-img{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.container{
    text-align: center;
    text-shadow: 7px 7px  15px;
}
.footer{
    text-align: center;
    color: rgb(192, 188, 188);
    font-size: small;
}
h3{
    color: rgb(223, 59, 59);
}